main section{
    margin: 0px 80px;
}

.visual{
    height: 800px;
    background-color: var(--color_80per);
    border-radius: 15px;
    margin-bottom: 40px;
}

.home_menu{
    max-width: 1420px;
    margin: 0px auto;
    display: flex;
    gap: 20px;
    margin-bottom: 200px;
    flex-wrap: wrap;
    justify-content: center;
}

.home_menu > a {
    display: flex;
    background-color:var(--color_navy);
    width: 280px;
    height: 120px;
    border-radius: 10px;
    padding: 0px 30px;
    align-items: center;
    justify-content: space-between;
}

.home_menu > a:last-child{
    background-color:var(--color_blue);
}

.home_menu > a > span{
    display: flex;
    flex-direction: column;
    color: white;
}

.home_intro{
    display: flex;
    margin-left: 190px;
    margin-bottom: 140px;
}

.intro_desc_wrapper{
    max-width: 340px;
    padding-top: 20px;
}

.intro_desc_wrapper h6{
    margin-bottom: 20px;
}

.intro_desc{
    font-size: var(--font_mini_13px);
    color: var(--color_40per);
    line-height: var(--font_large_24px);
    margin-top: 40px;
    margin-bottom: 80px;
}

.intro_btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.intro_btns button{
    border: 1px solid var(--color_90per);
    font-size: var(--font_regular_18px);
    color: var(--color_40per);
    font-weight: 800;
    width: 220px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    border-radius: 8px;
}

.arrow{
    right: 0px;
    width: 8px;
    height: 8px;
    border: 1px solid var(--color_40per);
    border-bottom: 0px;
    border-left: 0px;
    transform: rotate(45deg);
    transform-origin: 25% 25%;
}

.intro_slide_wrapper{
    margin-left: 140px;
}

.slide_img_box li{
    width: 700px;
}

.slide_img_box li div{
    height: 460px;
    margin-bottom: 40px;
    border-radius: 20px;
    background-color: var(--color_40per);
}

.slide_img_box li p{
    font-size: var(--font_mini_13px);
    margin-top: 10px;
    color: var(--color_40per);
}

.home_news{
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color:#f2fafd;
    text-align: center;
    padding-top: 80px;
}

.news_info, .news_info p{
    font-size: var(--font_mini_13px);

}

.home_news li h2{
    font-weight: 400;
    margin-bottom: 5px;
}

.news_title {
    margin: 20px auto 0px auto;
    display: flex;
    gap: 10px;
    align-items: center;
    line-height: 36px;
}

.news_desc{
    font-size: var(--font_mini_13px);
    color: var(--color_40per);
    line-height: var(--font_large_24px);
    margin-top: 20px;
    margin-bottom: 60px;
}

.home_news ul{
    max-width: 1420px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 80px;
}

.home_news li{
    width: 460px;
    text-align: left;
    margin-bottom: 60px;
}

.news_thumnail{
    height: 460px;
    background-color: var(--color_80per);
    border-radius: 8px;
    margin-bottom: 20px;
}

.news_info{
    color: var(--color_40per);
    display: flex;
    text-align: left;
    margin-bottom: 10px;
}


.home_menu span:last-child{
    display: flex;
    width: 80px;
    border-radius: 40px;
    background-color: #00588a;
    justify-content: center;
    height: 80px;
}

.home_menu p{
    opacity: 90%;
}

.icon{
    height: 30px;
    color: white;
    opacity: 95%;
}