footer{
    display: flex;
    flex-direction: column;
}

.footer_gradient{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding:50px 20px;
    background: linear-gradient( to left, #924e9b, var(--color_blue) ,#0ca85f );
    color: white;
    margin-bottom: 60px;

}

.footer_gradient h6{
    margin-bottom: 10px;
}

.footer_gradient h1{
    margin-bottom: 25px;
}

.footer_btns {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.footer_btns button{
    font-size: var(--font_regular_18px);
    color: var(--color_blue);
    background-color: white;
    width: 220px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    border-radius: 8px;
}

.footer_btns button:last-child{
    font-size: var(--font_regular_18px);
    color: white;
    background-color: initial;
    border: 1px solid white;
    width: 220px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    border-radius: 8px;
}

.footer_btns .arrow{
    border: 1px solid var(--color_blue);
    border-bottom: 0px;
    border-left: 0px;
    transition: 0.2s ease;
}

.footer_btns button:hover .arrow{
    margin-right: 5px;
}

.footer_btns button:last-child .arrow{
    border: 1px solid white;
    border-bottom: 0px;
    border-left: 0px;
}

.footer_shortcuts{
    display: flex;
    justify-content: center;
    padding: 0px 20px;
    margin-bottom: 80px;
}

.shortcut_box{
    width: 240px;
}

.shortcut_box h6{
    color: black;
    font-weight: 800;
    margin-bottom: 10px;
}

.shortcut_box p{
    color: var(--color_60per);
    font-size: var(--font_mini_13px);
    padding: 8px 0px;
    transition: 0.1s ease;
    margin-right: 10px;
}

.shortcut_box p:hover{
    background-color: var(--color_95per);
    padding-left: 10px;
    color: var(--color_40per);
}

.footer_bottom{
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--color_90per);
    padding: 0px 20px;
    padding-top: 40px;
    margin-bottom: 60px;
    gap:20px;
}

.footer_bottom span:first-child{
    display: flex;
    flex-wrap: wrap;
    max-width: 1160px;
}

.footer_bottom p{
    font-size: var(--font_mini_13px);
    color: var(--color_40per);
    margin: 5px 30px 5px 0px;
}

.footer_bottom h1{
    color: var(--color_60per);
}

.footer_bottom span:last-child{
    min-width: 260px;
}
